.App {
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.nav {
  margin-bottom: 20px;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: orangered;
  margin-right: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.link span {
  color: black;
  font-size: 40px;
}
