.card {
  width: 350px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 10px;
  background-image: linear-gradient(
    to right,
    rgb(201, 201, 245),
    rgb(245, 214, 245)
  );
}

.card img {
  width: 95%;
  height: 50%;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 1.3em;
  margin: 0 0 10px;
}
.sub-title {
  text-align: left;
  font-weight: 700;
}

.card-meta {
  color: #666;
  font-size: 0.9em;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card-meta img {
  width: 15%;
  height: 15%;
  border-radius: 180%;
  margin: 5px;
}

.card-description {
  color: #333;
  height: auto;
  width: auto;
}
